
/* Title text */
.header {
	text-align: center;
	font-weight: bold;
    font-family: Sans-serif;
    font-size: 30px;
    color: white;
	
}

/* Menubar */
.header_square {
	
	height: 1%;
	width: 100%;
	background-color: #3c40c6;
	
	/* Bigger the padding, bigger the square */
	padding: 0.1%; 
}

/* Instructions */
.body-text {
	text-align: center;
    font-family: Sans-serif;
	font-size: 20px;
    color: white;
}

/* Background square for instructions text */
.instructions_square {
    height: 1%;
	width: 100%;
	background-color: #f53b57;
	
	/* Bigger the padding, bigger the square */
	padding: 0.1%; 
}

/* Grey Box under all the other boxes*/
.bg_input_square {
	
	height: 50%;
	width: 100%;
	background-color: #808e9b;
	
	/* Bigger the padding, bigger the square */
	padding: 20px; 
	
}

/* Light grey box under input section */
.input_square {
    border-radius: 25px;
    background: #d2dae2;
    width: 100%;
    height: 100%;  
}

/* header styles */
.session-text, .total-text {
    text-align: center;
    font-family: Sans-serif;
	font-size: 50px;
    color: white;
}

/* Style the time inside a table */
table {
    width: 100%;
}

/* For input hours, min, sec titles*/
#hours-title, #min-title, #sec-title {
    
    text-align: center;
    font-family: Sans-serif;
	font-size: 50px;
    color: #1e272e;
}

/* Dropdown menu style for input time */
#hhs, #mms, #sss {
    font-family: Sans-serif;
	font-size: 50px;
    color: #1e272e;
}

/* Result time display style */
.hr-num, .min-num, .sec-num {
    text-align: center;
    font-family: Sans-serif;
	font-size: 50px;
    color: #1e272e;
}

/* Button format */
.button {
	color: white;
	padding: 5% 10%;
	text-align: center;
	display: inline-block;
	font-size: 20px;
	cursor: pointer;
	
}

.enter {
    background-color: #05c46b;
}

.reset {
    background-color: #f53b57;
}